.container
  .jumbotron.success-content
    h1 Thank you! Claim {{'#' + claimId}} was registered!
    p Our lawyers will check the information and contact you in near future.
    p Sometimes it may take up to two weeks.